{% load crispy_forms_filters crispy_forms_field %}
{% load l10n %}

{% if field.is_hidden %}
    {{ field }}
{% else %}

<div class="{% if inline_class %}govuk-radios--inline{% endif %}{% if field_class %}{{field_class}}{% endif %}"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>

    {% include 'GDS/layout/field_errors_block.html' %}


    {% for choice in field.field.choices %}

    {% if not inline_class %}

    <div class="govuk-radios__item">
        <input type="radio" class="govuk-radios__input"{% if choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.id_for_label }}_{{ forloop.counter }}" value="{{ choice.0 }}" {{ field.field.widget.attrs|flatatt }}>

        <label for="id_{{ field.id_for_label }}_{{ forloop.counter }}" class="govuk-label govuk-radios__label">
        </label>

        {{ choice.1 }}
    </div>

    {% endif %}

    {% endfor %}

    {% include 'GDS/layout/help_text.html' %}
    
</div>

{% endif %}