{% extends "gds_base.html" %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">
        Try again later.
      </p>
        <p class="govuk-body">
        We saved your answers. They will be available for 30 days.
      </p>
        <p class="govuk-body">
          <a class="govuk-link" href="#">Contact our Helpline</a> if you need to speak to an individual about this matter.
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
