{% block content %}

<!-- <div class="govuk-grid-column-two-thirds"> -->
    <h1 class="govuk-heading-xl">Template</h1>

    <p class="govuk-body">Here you will find Templates of:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Template</li>
      <li>Template</li>
      <li>Template</li>
    </ul>

    <p class="govuk-body">Template a good look around.</p>

    <a href="#" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
      Take Template
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

    <h2 class="govuk-heading-m">Before you Template</h2>

    <p class="govuk-body">These are just small Template samples of what can be achieved.</p>

    <p class="govuk-body">If you need further Template assistance we are more than happy for you to  <a class="govuk-link" href="#">contact us</a> for further assistance.</p>

    <p class="govuk-body">Best of luck with your GDS compliant Template site.</p>
<!-- </div> -->

{% endblock %}