<aside class="app-related-items" role="complementary">
  <h2 class="govuk-heading-m" id="subsection-title">
    Useful links
  </h2>
  <nav role="navigation" aria-labelledby="subsection-title">
    <ul class="govuk-list govuk-!-font-size-16">
      <li>
        <a class="govuk-link" href="{% url 'form_tester' %}">
          Form Fields
        </a>
      </li>
      {% if request.user.is_anonymous %}
      <li>
        <a class="govuk-link" href="{% url 'login' %}">
          Login
        </a>
      </li>
      {% endif %}
      <li>
        <a class="govuk-link" href="{% url 'signup' %}">
          Signup Form
        </a>
      </li>
      <li>
        <a class="govuk-link" href="{% url 'simple_signup' %}">
          Simple Signup Form
        </a>
      </li>
      <li>
          <a class="govuk-link" href="{% url 'help' %}">
          Help
        </a>
      </li>
      <li>
        <a href="#" class="govuk-link govuk-!-font-weight-bold">
          More <span class="govuk-visually-hidden">in Subsection</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>