<footer class="govuk-footer" role="contentinfo">
    <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
        	<div class="govuk-footer__inline-list">
        		<ul>
                    <li class="govuk-footer__inline-list-item"><a href="#">Link 1</a></li>
                    <li class="govuk-footer__inline-list-item"><a href="#">Link 2</a></li>
                    <li class="govuk-footer__inline-list-item"><a href="#">Link 3</a></li>
                    <li class="govuk-footer__inline-list-item"><a href="#">Link 4</a></li>
                    <li class="govuk-footer__inline-list-item"><a href="#">Link 5</a></li>
                    <li class="govuk-footer__inline-list-item"><a href="#">Link 6</a></li>
                </ul>
            </div>
            <div class="govuk-footer__meta-item">
                <div class="copyright"> 
                    <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
                </div>
            </div>
            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
        </div>
    </div>
</footer>
